---
interface Props {
  title: string;
  company: string;
  startDate: string;
  endDate: string;
  items?: string[];
}
const { title, company, startDate, endDate, items } = Astro.props;
---

<div class="flex w-full">
  <h2 class="text-md mb-2 mt-4 flex-1">
    <span class="text-text">{title}</span>, <i
      class="font-extralight text-subtext0">{company}</i
    >
  </h2>
  <p class="mt-4 text-sm font-semibold text-subtext1">
    {startDate} - {endDate}
  </p>
</div>
{
  items && (
    <ul class="list-outside list-disc pl-4 text-sm">
      {items.map((item) => (
        <li>{item}</li>
      ))}
    </ul>
  )
}
